<!--
  ============================================================
  LINE LOADER - PRODUCTS GRID KE UPAR
  ============================================================
-->

<div class="line-loader-overlay" id="lineLoader">
  <div class="line-loader-wrapper">
    <div class="line-loader-fill" id="lineLoaderFill"></div>
  </div>
</div>
